[submodule "pogre/resources"]
	path = pogre/resources
	url = git@github.com:phiste/ogre_resources.git
[submodule "pse/SFML"]
	path = pse/SFML
	url = git@github.com:phiste/SFML
[submodule "googletest"]
	path = googletest
	url = git@github.com:google/googletest
